QLineEdit {
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 5px 100%px;
    background-color: white;
    margin: 1%;
}

QLineEdit:focus {
    border: 1px solid #d0e3ff;
}

QLineEdit::placeholder {
    color: #767e89;
}