QTabWidget::tab-bar {
    padding-left: 15px;
    padding-top: 15px;
}

QTabBar::tab {
    background: #ececec;
    color: black;
    padding: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

QTabBar::tab:selected {
    background: rgb(228, 228, 228);
}