QLineEdit {
    border-radius: 8px;
    border: 1px solid #10207b;
    padding: 10px;
    background-color: #f7fafd;
    margin: 1%;
    font-size: large;
}

QLineEdit:focus {
    border: 1px solid #d0e3ff;
}

QLineEdit::placeholder {
    color: #767e89;
}