QTabWidget::tab-bar {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #ececec;
    background: #ececec;
    border-radius: 0%;
    border: 0% solid #ececec;
}

QTabBar::tab {
    background: #001c54;
    background-color: #ececec;
    color: #001c54;
    padding: 5px 100px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 0%;
    border: 0% solid #ececec;
}

QTabBar::tab:selected {
    background: #001c54;
    color: #ececec;
}