QPushButton {
    background-color: #ececec;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: #000000;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

QPushButton::pressed {
    background-color: #32316d;
    color: #ffffff;
}

QPushButton::hover {
    background-color: #32316d;
    color: #ffffff;
}

QPushButton::placeholder {
    background-color: #32316d;
    color: #ffffff;
}